In [ ]:
import os
import pandas as pd

In [ ]:
main_directory = r"C:\Users\Elisha.Zissman\OneDrive - Social Investment Business\Desktop\epc_docs"

In [ ]:
#function to extract

def extract_certificates_to_dataframe(folder_path): 

    certificates_file = os.path.join(folder_path, 'certificates.csv') 

    if os.path.exists(certificates_file): 

        df = pd.read_csv(certificates_file)  # Assuming certificates file is CSV, adjust accordingly 

        return df 

    return None

In [ ]:
dataframes = [] 

for folder_name in os.listdir(main_directory): 

    folder_path = os.path.join(main_directory, folder_name) 

    if os.path.isdir(folder_path): 

        df = extract_certificates_to_dataframe(folder_path) 

        if df is not None: 

            dataframes.append(df)

In [ ]:
combined_dataframe = pd.concat(dataframes, ignore_index=True)

In [ ]:
epc = combined_dataframe

In [ ]:
nspl = pd.read_csv('nspl_21.csv')
rural_urban = pd.read_csv('rural_urban.csv')
imd_dec = pd.read_excel('IMD 2019.xlsx', sheet_name=1)
conv = pd.read_csv('lsoa11 to lsoa21.csv')

In [ ]:
conv = conv.rename(columns={'LSOA11CD':'lsoa11', 'LSOA21CD':'lsoa21'})
conv = conv.drop(columns=['ObjectId',
 'LSOA11NM',
 'LSOA21NM',
 'LAD22CD',
 'LAD22NM',
 'LAD22NMW'])

In [ ]:
epc = epc.rename(columns={'POSTCODE':'pcds'})

In [ ]:
nspl = nspl.drop(columns=['pcd',
 'pcd2',
 'dointr',
 'doterm',
 'usertype',
 'oseast1m',
 'osnrth1m',
 'osgrdind',
 'oa21',
 'cty',
 'ced',
 'laua',
 'ward',
 'nhser',
 'ctry',
 'pcon',
 'ttwa',
 'itl',
 'npark',
 'msoa21',
 'wz11',
 'sicbl',
 'bua22',
 'ru11ind',
 'oac11',
 'lat',
 'long',
 'lep1',
 'lep2',
 'pfa',
 'icb', 'imd'])

In [ ]:
rural_urban = rural_urban.rename(columns={'LSOA11CD':'lsoa11'})
rural_urban = rural_urban.drop(columns=['FID', 'LSOA11NM'])

In [ ]:
imd_dec = imd_dec.rename(columns={'LSOA code (2011)':'lsoa11'})

In [ ]:
merged_df = epc.merge(nspl, on='pcds', how='left')

In [ ]:
merged_df = merged_df[merged_df['rgn'].notna() & merged_df['rgn'].str.startswith('E', na=False)]

In [ ]:
merged_df = merged_df.merge(conv, on='lsoa21')

In [ ]:
merged_df = merged_df.merge(rural_urban, on='lsoa11', how='left')

In [ ]:
merged_df = merged_df.merge(imd_dec, on='lsoa11', how='left')

In [ ]:
list(merged_df)

In [ ]:
# filter date and type

df = merged_df

property_types = ['D1 Non-residential Institutions - Community/Day Centre', 'Community/day centre', 'Non-residential Institutions: Community/Day Centre']
df1 = df[df['PROPERTY_TYPE'].isin(property_types)].copy()  # Make a copy of the filtered DataFrame

In [ ]:
# Convert 'INSPECTION_DATE' column to datetime
df1['INSPECTION_DATE'] = pd.to_datetime(df1['INSPECTION_DATE'])
 
# Sort the DataFrame by 'INSPECTION_DATE' in descending order
df1 = df1.sort_values(by='INSPECTION_DATE', ascending=False)

In [ ]:
# Drop duplicates in the 'BUILDING_REFERENCE_NUMBER' column, keeping only the first occurrence (most recent date)
df1 = df1.drop_duplicates(subset='BUILDING_REFERENCE_NUMBER', keep='first')

In [ ]:
# Filter out rows with 'INSPECTION_DATE' after June 30, 2023
cutoff_date = pd.to_datetime('2023-06-30')
df1 = df1[df1['INSPECTION_DATE'] <= cutoff_date]

In [ ]:
#data_new = df1

In [ ]:
#data_old = pd.read_excel(r"C:\Users\Elisha.Zissman\Social Investment Business\Team_Learning&Influence - Documents\Data Projects\EPC - ez - oh\Community EPCs project\epc_community_buildings.xlsx")

In [ ]:
# Identify the new rows based on a specific column
#unique_column = 'BUILDING_REFERENCE_NUMBER'  # Replace with the actual column name you want to use

# Extract the values of the unique column from both DataFrames
#old_values = set(data_old[unique_column])
#new_values = set(data_new[unique_column])

# Find the values that are in new_values but not in old_values
#new_unique_values = new_values - old_values

# Create a DataFrame containing the new rows based on the unique column
#new_rows = data_new[data_new[unique_column].isin(new_unique_values)]

In [ ]:
#new_rows_BRN = new_rows

In [ ]:
# Identify the new rows based on a specific column
#unique_column = 'LMK_KEY'  # Replace with the actual column name you want to use

# Extract the values of the unique column from both DataFrames
#old_values = set(data_old[unique_column])
#new_values = set(data_new[unique_column])

# Find the values that are in new_values but not in old_values
#new_unique_values = new_values - old_values

# Create a DataFrame containing the new rows based on the unique column
#new_rows = data_new[data_new[unique_column].isin(new_unique_values)]

In [ ]:
#data_old = data_old.rename(columns={'LMK_KEY_x':'LMK_KEY'})

In [ ]:
#new_rows_LMK = new_rows

In [ ]:
#new_rows_LMK.head()

In [ ]:
#list(df)

In [ ]:
#df = new_rows_LMK

# Assuming you have a DataFrame named 'df' and the column name is 'country code'
#df = df[~df['rgn'].str.startswith(('W', 'S'))]

In [ ]:
#df

In [ ]:
#df = new_rows_BRN

# Assuming you have a DataFrame named 'df' and the column name is 'country code'
#df = df[~df['rgn'].str.startswith(('W', 'S'))]

In [ ]:
#df